body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    margin: 0; /*Esta linea hace que se deje de ver el fondo del body*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    /* outline: 2px solid red; */
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    height: auto;
    color: #F9FAF8;
}

.main-img {
    width: 400px;
    height: auto;
    padding: 16px;
    margin: 16px;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
}

.container-logo-links {  /*Contains the links and the logo image so that they can be on the same line*/
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.container-header2-button-image {
    display: flex;
}

.container-header2-button {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
