body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    margin: 0; /*Esta linea hace que se deje de ver el fondo del body*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url("images/y6vnfX.webp");
    background-attachment: fixed;
}

* {
    /* outline: 2px solid red; */
}

a {
    text-decoration: none;
    color: white;
}

.header {    
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    height: auto;
    color: white;
}

.main-img {
    width: 250px;
    height: auto;
    padding-right: 300px;
    margin: 20px;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
}

.container-logo-links {  /*Contains the links and the logo image so that they can be on the same line*/
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

.container-header2-button-image {
    display: flex;    
    justify-content: space-evenly;
}

.container-header2-button {
    display: flex;
    flex-direction: column;
}

.headerx2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.header-paragraph {
    font-size: 18px;
    color: white;
}

.signup {
    padding: 7px 1em;
    width: 120px;
    background-color: white;
    border-radius: 8px;
}

.main-1 {
    background-color: rgba(253, 173, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 5px;
}

div.pic-item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.competitor-bio {
    width: 250px;
    height: 250px; 
}

.caption {
    display: block;
}

.bio-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


